<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :email,class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :role_id, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true}) %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :approved,class: "right inline" %>
    </div>
    <div class="small-9 columns" id="checker">
      <%= f.check_box :approved %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit "Submit User", class: "round button tiny" %>
    </div>
  </div>
<% end %>
