<% content_for :head do %>
<h1>Listing Users</h1>
<% end %>

<table class="small-12 columns" id="user-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th id="hide-header">Show</th>
      <th id="hide-header">Edit</th>
      <th id="hide-header">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class: "tiny button radius info" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "tiny button radius info" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button radius alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="small-6 columns">
    <%= link_to "New Invitation", new_user_invitation_path, class: "radius button small success right inline" %>
  </div>
    <%= link_to "Unapproved Users", users_path(approved: false), class: "small button radius alert" %>
</div>