<% content_for :head do %>
  <h1>New User</h1>
  <h2><%= t "devise.invitations.new.header" %></h2>
<% end %>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :email, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit t("devise.invitations.new.submit_button"), class: "round button tiny success"  %>
    </div>
  </div>
<% end %>

<%= link_to 'Back', users_path, class: "radius button tiny info" %>
