<table class="small-12 columns">
  <thead>
    <tr>
      <th>Detail</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><strong>Approval:</strong></td>
      <td><%= @user.approved %></td>
    </tr>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td><strong>Role:</strong></td>
      <td><%= @user.role.name %></td>
    </tr>
    <tr>
      <td><strong>Joined On:</strong></td>
      <td><%= @joined_on %></td>
    </tr>
    <tr>
      <td><strong>Last Login:</strong></td>
      <td><%= @last_login %></td>
    </tr>
    <tr>
      <td><strong>Total Logins:</strong></td>
      <td><%= @user.sign_in_count %></td>
    </tr>
  </tbody>
</table>
<p>
  <%= link_to 'Edit', edit_user_path(@user), class: "tiny button radius warning" %> |
  <%= link_to 'Back', users_path, class: "tiny button radius success" %>
</p>
