<% content_for :head do %>
  <h2>Forgot your password?</h2>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row collapse">
  	<div class="small-3 columns">
    	<%= f.label :email, class: "right inline" %>
    </div>
    <div class="small-9 columns">
	    <%= f.email_field :email, autofocus: true %>
	   </div>
  </div>

  <div class="row collapse">
  	<div class="small-9 small-offset-3 columns">
	    <%= f.submit "Send me reset password instructions", class: "button tiny" %>
	   </div>
  </div>
<% end %>

<div class="row collapse">
  <div class="small-9 small-offset-3 columns">
    <%= render "devise/shared/links" %>
  </div>
</div>