<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :description, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :description %>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit("Submit Role"), class: "tiny button round success" %>
    </div>
  </div>
<% end %>
