<% content_for :head do %>
  <h1>Listing Roles</h1>
<% end %>
<p>
  <% if can? :create, Role %>
    <%= link_to 'New Role', new_role_path, class: "radius button tiny success" %>
  <% end %>
</p>
<br>
<table class="small-12 columns" id="roles-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= link_to "#{role.name}", role , "data-reveal-id" => "show_modal", "data-reveal-ajax" => "true" %></td>
        <td><%= role.description %></td>
        <td><%= link_to '', edit_role_path(role), class: "button tiny fi-pencil", "data-reveal-id" => "edit_modal", "data-reveal-ajax" => "true" %></td>
        <td><%= link_to '', role, method: :delete, data: { confirm: 'Are you Sure?', 'confirm-button-text': 'Yes I am' , 'cancel-button-text': 'No way', 'confirm-button-color': '#66CD00'}, class: "alert button tiny fi-minus" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div id="show_modal" class="reveal-modal tiny" data-reveal aria-hidden = "true" role = "dialog"></div>
<div id="edit_modal" class="reveal-modal small" data-reveal aria-hidden = "true" role = "dialog"></div>