	
<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>
<p>
  <strong>Assosciated users:</strong>
  <%= @assosciated_users %>
</p>
<p>
	<%= link_to 'Edit', edit_role_path(@role), class: "tiny button radius warning" %> |
	<%= link_to 'Back', roles_path, class: "tiny button radius success" %>
</p>