<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :description, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :price, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :price %>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit "Submit Item", class: "round button tiny success" %>
    </div>
  </div>
<% end %>
