<% content_for :head do %>
  <h1>Listing Items</h1>
<% end %>

<p>
<% if can? :create, Item %>
  <%= link_to 'New Item', new_item_path, class: "radius button tiny success" %>
<% end %>
</p>
<br>
<table class="small-12 columns" id="items-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Seller</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.name}", item, "data-reveal-id" => "show_modal", "data-reveal-ajax" => "true" %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.user.name %></td>
        <td> <% if can? :update, item %>
              <%= link_to '', edit_item_path(item), class: "button tiny fi-pencil", "data-reveal-id" => "edit_modal", "data-reveal-ajax" => "true" %>
            <% end %></td>
        <td><% if can? :destroy, item %>
            <%= link_to '', item, method: :delete, data: { confirm: 'Are you Sure?', 'confirm-button-text': 'Yes I am' , 'cancel-button-text': 'No way', 'confirm-button-color': '#66CD00'}, class: "alert button tiny fi-minus"%>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="row">
  <div class="small-12 columns center"> 
<% if can? :create, Item %>
  <%= link_to 'New Item', new_item_path, class: "radius button tiny success" %>
<% end %>
  </div>
</div>

<div id="show_modal" class="reveal-modal tiny" data-reveal aria-hidden = "true" role = "dialog"></div>
<div id="edit_modal" class="reveal-modal small" data-reveal aria-hidden = "true" role = "dialog"></div>