<% content_for :head do %>
	<h1>Edit Post </h1>
<% end %>
<div id="form">
	<%= form_for [@group, @post], url: group_post_path do |f|%>
	<% if @post.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		<p>
			<%= f.label :title %> <br>
			<%= f.text_field :title%>	
		</p>
		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %>	
		</p>
		<p>
			<%= f.submit "Update Post", class: "round button tiny success" %>
		</p>
<% end %>
</div>
