<div class="post_wrapper_show">
  <h1 class="title">
    <%= @post.title%>
  </h1>
  <p class="date">
    Submitted by <strong><%= @post.user.name %></strong> <%= time_ago_in_words(@post.created_at) %> Ago<br>
    <% if can? :edit, @post %> 
      <%= link_to ' edit', edit_group_post_path(@group, @post),class: "fi-pencil" %> 
    <% end %>
    | 
    <% if can? :destroy, @post %>
      <%= link_to " delete", group_post_path(@group,@post), method: :delete, data: { confirm: 'Are you Sure?', 'confirm-button-text': 'Yes I am' , 'cancel-button-text': 'No way', 'confirm-button-color': '#66CD00'}, class: "fi-minus" %>
    <% end %>
  </p><hr>
  <p class="body">
    <%= @post.body %>
  </p>
  <div>
    <h2 id="comments_count"><%= @post.comments.count %> Comments</h2>
      <%= form_for [@group,@post, Comment.new] do |f| %>
        <hr>
        <%= f.text_area :body, placeholder: "Add a comment" %>
        <%= f.hidden_field :name, value: "#{current_user.name}" %>
        <%= f.submit "Add Comment" , class: "tiny button success radius" %>
      <% end %>
      <ul>
        <%= render( partial: 'comments/comment', collection: @post.comments.order(:updated_at).reverse_order ) %>
      </ul>
    <br>
  </div>
</div>